body,
button, input, select, textarea {
    font: 14px/1.5 tahoma, arial;
    color: #333;
}

#container {
    width: 990px;
    margin: 0 auto;
}

#graph {
    float: left;
    width: 775px;
    position: relative;
}
#placeHolder {
    width: 750px;
    height: 400px;
    margin-left: 25px;
}

#side {
    float: right;
    width: 210px;
}
#dataContainer {
    padding: 5px;
}
#dataContainer h2 {
    margin: 0 0 0 10px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #666;
    border-bottom: 1px solid #eee;
}

.control {
    margin: 0 0 10px 25px;
}

.title {
    margin-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 26px;
    color: #333;
}

#datainfo {
    position: absolute;
    display: none;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
}
#datainfo ul {
    list-style: none;
    margin: 0;
    padding: 5px; 
}
#datainfo ul li {
    margin-bottom: 3px;
}
#datainfo em {
    font-style: normal;
    text-align: right;
}

#datatable {
	display: none;
    border: 1px solid #333;
    border-radius: 5px;
}
#datatable th, #datatable td {
	width: 80px;
    text-align: center;
}

.preload {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../image/loading.gif);
}

#dataContainer th {
	width: 80px;
}

#data-table {
	display: none;
}
